@import './base/_colors';
@import './base/_page';

$_black_solid_border: 1px solid $color_black;

.book-page {
    @include page;
    margin-bottom: 32px;

    p {
        line-height: 20px;
    }

    code {
        font-size: 0.95em;
    }

    h2 {
        display: block !important;
    }

    .content-table {
        border: $_black_solid_border;
        margin-bottom: 10px;

        tr:not(:last-child), th {
            border-bottom: $_black_solid_border;
        }

        td:not(:last-child), th:not(:last-child) {
            border-right: $_black_solid_border;
        }

        td, th {
            padding: 0 8px;
        }
    }

    .content-list {

        li {

            img {
                display: block;
                margin-bottom: 10px;
            }
        }
    }

    .video {
        text-align: center;

        > * {
            display: block;
        }

        iframe {
            margin: 0 auto;
        }

        em {
            margin-top: 8px;
        }
    }

    .faq {

        dt {
            font-weight: bold;
        }

        dd {
            margin: 0.5em 0 1em 1em;
            padding-left: 8px;
            border-left: 2px solid $color_blue_jeans;
        }
    }

    .key-button {
        display: inline-block;
        padding: 2px 4px;
        font-family: monospace;
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
        background-color: #eee;
        border: 1px solid #b4b4b4;
        border-radius: 2px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    }
}