@import './base/_colors';
@import './base/_page';

.homework-page {
    @include page;

    .lead-instruction {
        font-size: 1.2em;
    }

    h3 {
        margin-top: 16px;
    }

    img {
        height: auto !important;
        width: auto !important;
        padding: 0 !important;
    }

    ul, ol {
        li {
            img {
                margin-top: 8px;
            }
        }
    }
}