@import './base/_colors';

$_font_family: monospace;

@mixin code {
    font-family: monospace;
}

.inline-code {
    @include code;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: $color_platinum;
    color: $color_dark_gunmetal;
}

.terminal-command {
    @include code;
    padding: 4px;
    border-radius: 3px;
    background-color: $color_dark_gunmetal;
    color: $color_platinum;
    
    &:before {
        content: '$';
        font-weight: 700;
        color: $color_android_green;
        padding: 0 4px 0 0;
    }

    &.inline {
        display: inline
    }
}
