$color-black: #000;

$color_platinum: #E2E3E5;
$color_spanish_gray: #90949C;
$color_dark_gunmetal: #1D2129;

$color_blue_jeans: #5BC0EB;
$color_gargoyle_gas: #FDE74C;
$color_android_green: #9BC53D;
$color_flame: #E55934;
$color_princeton_orange: #FA7921;