@mixin page {
    text-align: left;

    ul, ol {
        margin-top: 10px;
        margin-left: 24px;
    }

    li:not(:last-child) {
        margin-bottom: 8px; 
    }

    code {
        font-size: 0.95em;
    }
}